@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nanum+Gothic&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #091D21;
  color: #FFFFFF;
  font-family: "Nanum Gothic", sans-serif;
}
body a {
  color: #FFFFFF;
  text-decoration: none;
}
body a:hover {
  color: #E54029;
}
body h1, body h2, body h3, body h4, body h5 {
  font-family: "DM Sans", sans-serif;
  letter-spacing: 3px;
}
@keyframes btnHover {
  0% {
    background: linear-gradient(90deg, #E54029 0%, #FFFFFF 100%);
  }
  100% {
    background: linear-gradient(90deg, #E54029 100%, #FFFFFF 100%);
  }
}
@keyframes hideHeaderTop {
  from {
    height: 50px;
  }
  to {
    height: 0px;
    display: none;
  }
}
@keyframes showHeaderTop {
  from {
    height: 0px;
  }
  to {
    height: 50px;
    display: block;
  }
}
body .btn-theme {
  padding: 10px 20px;
  color: #091D21;
  background: linear-gradient(90deg, #FFFFFF 100%, #E54029 50%);
  margin: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: none;
}
body .btn-theme:hover {
  color: #FFFFFF;
  animation-name: btnHover;
  animation-duration: 200ms;
  background: linear-gradient(90deg, #E54029 100%, #FFFFFF 0%);
}
body header {
  background: transparent;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 99999999;
}
body header.fixed {
  background-color: #091D21;
  z-index: 9999999;
}
body header.fixed .header-top {
  overflow: hidden;
  animation-name: hideHeaderTop;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
body header .fa-solid {
  color: #E54029;
  display: inline-block;
  margin-right: 10px;
}
body header .header-top {
  overflow: hidden;
  animation: showHeaderTop 200ms forwards;
  border-bottom: 1px solid #ababab;
}
body header .header-top .container .row .col {
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  body header .header-top .container .row .col {
    flex-direction: column;
  }
}
body header .header-top .container .row .col .left {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: flex-start;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  body header .header-top .container .row .col .left {
    justify-content: center;
    width: 100%;
  }
}
body header .header-top .container .row .col .left .mail {
  font-weight: 700;
  width: max-content;
  margin-right: 20px;
}
body header .header-top .container .row .col .left .addr {
  font-weight: 700;
  width: max-content;
  margin-right: 20px;
}
body header .header-top .container .row .col .right {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: flex-end;
  padding: 5px;
}
@media only screen and (max-width: 768px) {
  body header .header-top .container .row .col .right {
    justify-content: center;
    width: 100%;
  }
}
body header .header-top .container .row .col .right .social a {
  margin-right: 10px;
}
body header .header-top .container .row .col .right .social a:hover {
  color: #ababab;
}
body header .header-bottom {
  font-size: 18px;
  background-color: transparent;
}
body header .header-bottom .navbar {
  justify-content: space-between;
  padding: 0;
}
body header .header-bottom .navbar.navbar-expand-lg .navbar-brand {
  color: #FFFFFF;
  font-size: 28px;
}
body header .header-bottom .navbar.navbar-expand-lg .navbar-toggler {
  color: #FFFFFF;
}
body header .header-bottom .navbar.navbar-expand-lg .navbar-toggler-icon {
  background-image: url("../images/toggle-bg.svg");
}
body header .header-bottom .navbar.navbar-expand-lg .nav-item .nav-link {
  color: #FFFFFF;
}
body header .header-bottom .navbar.navbar-expand-lg .nav-item .nav-link:hover {
  color: #E54029;
}
body header .header-bottom .navbar.navbar-expand-lg .nav-item .nav-link .caret {
  height: 0;
}
body header .header-bottom .navbar.navbar-expand-lg .nav-item .nav-link .caret::after {
  margin-left: 5px;
  margin-right: 5px;
  color: #FFFFFF;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
}
body header .header-bottom .navbar.navbar-expand-lg .nav-item .subnav-container {
  width: 100%;
  position: absolute;
  border-radius: 8px;
  left: 0;
  background-color: #000;
  padding: 10px;
  position: absolute;
  z-index: 10;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  box-shadow: 0px 11px 19px -7px rgb(250, 250, 250);
}
@media only screen and (max-width: 768px) {
  body header .header-bottom .navbar.navbar-expand-lg .nav-item .subnav-container {
    position: relative;
  }
}
body header .header-bottom .navbar.navbar-expand-lg .nav-item .subnav-container ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
}
body header .header-bottom .navbar.navbar-expand-lg .nav-item .subnav-container ul li a {
  color: #FFFFFF;
}
body header .header-bottom .navbar.navbar-expand-lg .nav-item .subnav-container ul li a:hover {
  color: #E54029;
}
body header .header-bottom .navbar.navbar-expand-lg .nav-item.dropdown {
  position: unset;
}
body header .header-bottom .navbar.navbar-expand-lg .nav-item.dropdown:hover .subnav-container {
  display: flex;
}
body .home-banner {
  background-color: #091D21;
  background-image: url(../images/dashboard-3510327_1920.jpg);
  background-blend-mode: multiply;
  background-size: cover;
}
body .home-banner .container .row .col {
  height: 600px;
  position: relative;
}
body .home-banner .container .row .col h2 {
  font-size: 42px;
  line-height: 1.5;
}
body .home-banner .container .row .col .banner-image {
  position: absolute;
  z-index: 99;
  bottom: -80px;
  width: 50%;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  body .home-banner .container .row .col .banner-image {
    bottom: -60px;
    width: 80%;
  }
}
@media only screen and (max-width: 425px) {
  body .home-banner .container .row .col .banner-image {
    bottom: -40px;
    width: 80%;
  }
}
body .home-features {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #ededed;
}
body .home-features h2 {
  color: #000;
  margin-bottom: 50px;
}
body .home-features .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body .home-features .items .item {
  width: 23%;
  color: #091D21;
  background-color: #FFFFFF;
  border-top: 3px solid #FFFFFF;
  margin: 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1024px) {
  body .home-features .items .item {
    width: 46%;
  }
}
@media only screen and (max-width: 768px) {
  body .home-features .items .item {
    width: 100%;
  }
}
body .home-features .items .item:hover {
  border-top: 3px solid #E54029;
  box-shadow: 20px 10px 30px -10px #aaa;
}
body .home-features .items .item a {
  color: #E54029;
  font-weight: 700;
}
body .home-features .items .item a:hover {
  color: #091D21;
}
body .home-features .items .item .fa-solid {
  font-size: 45px;
  color: #E54029;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
body .home-features .items .item h3 {
  font-size: 22px;
  letter-spacing: normal;
  margin-bottom: 20px;
}
body .home-client-testimonials {
  background-color: #FFFFFF;
  padding: 50px 0;
}
body .home-client-testimonials .section-title {
  padding: 20px 0;
  color: #091D21;
  text-align: center;
}
body .home-client-testimonials .owl-carousel .owl-stage-outer {
  overflow-y: visible !important;
  overflow-x: hidden !important;
}
body .home-client-testimonials .owl-carousel .owl-stage {
  height: 435px !important;
}
body .home-client-testimonials .slider {
  width: 100%;
  margin-bottom: 40px;
}
body .home-client-testimonials .slider .item {
  position: relative;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .home-client-testimonials .slider .item .bg-slide {
  z-index: -9;
}
body .home-client-testimonials .slider .item .info {
  position: absolute;
  z-index: 9999999999;
  top: 40px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  border: 1px solid #a9a9a9;
  box-shadow: 0px 14px 19px -7px rgb(0, 0, 0);
  width: 80%;
}
body .home-client-testimonials .slider .item .info .testimonial {
  color: #091D21;
}
body .home-client-testimonials .slider .item .info .author {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}
body .home-client-testimonials .slider .item .info .author .author-image {
  width: 80px;
  height: 80px;
  border-radius: 50px;
  background-color: #9a9a9a;
  overflow: hidden;
}
body .home-client-testimonials .slider .item .info .author .author-image img {
  max-width: 100%;
}
body .home-client-testimonials .slider .item .info .author .author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
body .home-client-testimonials .slider .item .info .author .author-info .name {
  font-weight: 700;
  color: #091D21;
  text-transform: capitalize;
}
body .home-client-testimonials .slider .item .info .author .author-info .desig {
  color: #E54029;
  font-size: 14px;
}
body .home-video .container-fluid .row .col-lg-12 {
  position: relative;
}
body .home-video .container-fluid .row .col-lg-12 a.video-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
body .home-video .container-fluid .row .col-lg-12 a.video-link img {
  max-width: 100%;
}
body .home-video .container-fluid .row .col-lg-12 a.video-link .play-btn {
  width: 100px;
  height: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
}
body .home-video .container-fluid .row .col-lg-12 a.video-link .play-btn i {
  font-size: 60px;
}
body .cars-banner {
  padding: 100px 0;
  background-image: url(../images/speedometer-1249610_1920.jpg);
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}
body .cars-list {
  background-color: #ededed;
}
body .cars-list-container {
  padding: 50px 0;
}
body .cars-list-container .car-item {
  padding: 0 0 20px 0;
  margin-bottom: 25px;
  background-color: #ededed;
  box-shadow: 0px 14px 19px -7px rgb(150, 150, 150);
}
body .cars-list-container .car-item h3 {
  padding: 10px;
  font-size: 18px;
  color: #000000;
  letter-spacing: normal;
}
body .cars-list-container .car-item img {
  width: 100%;
  max-width: 100%;
}
body .cars-list-container .car-item .car-content-cols {
  display: flex;
  flex-direction: row;
  background-color: #eee;
}
body .cars-list-container .car-item .car-content-cols .car-content {
  color: #091D21;
  padding: 10px;
}
body .cars-list-container .car-item .car-content-cols .car-content .car-type, body .cars-list-container .car-item .car-content-cols .car-content .car-comfort, body .cars-list-container .car-item .car-content-cols .car-content .car-price {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 8px;
}
body .cars-list-container .car-item .car-content-cols .car-content-actions {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
}
body .cars-list-container .car-item .car-content-cols .car-content-actions .rating {
  color: #000000;
  font-size: 14px;
  margin-bottom: 10px;
}
body .cars-list-container .car-item .car-content-cols .car-content-actions .rating a {
  color: #000000;
  text-decoration: none;
}
body .cars-list-container .car-item .car-content-cols .car-content-actions .rating a:hover {
  color: #E54029;
}
body .cars-list-container .car-item .car-content-cols .car-content-actions button {
  width: 100%;
}
body .booking-form {
  padding: 50px 0;
  background-color: #ededed;
}
body .booking-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #091D21;
}
body .booking-form textarea {
  height: 200px;
}
body .booking-form button {
  width: max-content;
  margin: 0 auto;
  padding: 10px 20px;
}
body .contact-form {
  padding: 50px 0;
  background-color: #091D21;
}
body .contact-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #FFFFFF;
}
body .contact-form textarea {
  height: 200px;
}
body .contact-form button {
  width: max-content;
  margin: 0 auto;
  padding: 10px 20px;
}
body .contact-form .info-item strong {
  width: 100%;
  display: block;
  padding: 10px 0;
  border-top: 1px solid #ededed;
}
body .blogs {
  padding: 50px 0;
}
body .blogs h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #FFFFFF;
}
body .blogs .blog-item {
  border-radius: 8px;
  margin-bottom: 25px;
  background-color: #ededed;
  box-shadow: 0px 14px 19px -7px rgb(150, 150, 150);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  body .blogs .blog-item {
    flex-direction: column;
  }
}
body .blogs .blog-item .blog-item-image {
  display: inline-block;
  width: 40%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  body .blogs .blog-item .blog-item-image {
    width: 100%;
  }
}
body .blogs .blog-item .blog-item-image img {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
body .blogs .blog-item .blog-item-content {
  width: 60%;
  padding: 20px;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  body .blogs .blog-item .blog-item-content {
    width: 100%;
  }
}
body .blogs .blog-item .blog-item-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #091D21;
  font-size: 20px;
  letter-spacing: normal;
}
body .blogs .blog-item .blog-item-content p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #091D21;
}
body .blogs .blog-item .blog-item-content a {
  color: #091D21;
  text-decoration: none;
}
body .blogs .blog-item .blog-item-content a:hover {
  color: #E54029;
}
body footer {
  border-top: 1px solid #E54029;
  padding: 50px 0 20px;
}
body footer .footer-top h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
body footer .footer-top .service-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body footer .footer-top .service-links a {
  margin: 0 0 20px;
  width: 50%;
}
body footer .footer-bottom {
  padding: 20px 0 0;
}
body footer .footer-bottom .footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
body footer .footer-bottom .footer-pt {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  body footer .footer-bottom {
    text-align: center;
  }
  body footer .footer-bottom .footer-logo {
    justify-content: center;
    margin-bottom: 10px;
  }
  body footer .footer-bottom .footer-pt {
    justify-content: center;
    margin-bottom: 10px;
  }
}
