$black: #091D21;
$red:   #E54029;
$white: #FFFFFF;
$white2: #ededed;
$gray:  #ababab;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nanum+Gothic&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $black;
    color:$white;
    font-family: "Nanum Gothic", sans-serif;
    a{
        color:$white;
        text-decoration: none;
        &:hover{
            color: $red;
        }
    }

    h1,h2,h3,h4,h5{
        font-family: "DM Sans", sans-serif;
        letter-spacing: 3px;
    }

    @keyframes btnHover {
        0%{
            background: linear-gradient(90deg,  $red 0% , $white 100% );
            
        }
        
        100%{
            background: linear-gradient(90deg,  $red 100%, $white 100%  );;
            
        }
    }
    @keyframes hideHeaderTop {
        from {
            height:50px;
        }
        to {
            height: 0px;
            display: none;
        }

    }
    @keyframes showHeaderTop {
        from {
            height:0px;
        }
        to {
            height: 50px;
            display: block;
        }

    }


    .btn-theme{
        padding: 10px 20px;
        color:$black;
        background: linear-gradient(90deg, $white 100% , $red 50% );
        margin: 10px 20px;
        text-transform: uppercase;
        letter-spacing: .5px;
        border: none;
        &:hover{
            color:$white;
            animation-name: btnHover;
            animation-duration: 200ms;
            background: linear-gradient(90deg, $red 100% , $white 0% );
        
        }
    }

    header{
        background: transparent;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 100%;
        z-index: 99999999;

        &.fixed{
            background-color: $black;
            z-index: 9999999;
            .header-top{
                overflow: hidden;
                animation-name: hideHeaderTop;
                animation-duration: 1s;
                animation-fill-mode:forwards;
            }
        }
        .fa-solid{
            color:$red;
            display: inline-block;
            margin-right: 10px;
        }
        .header-top{
            overflow: hidden;
            // animation: showHeaderTop 200ms forwards;
            border-bottom: 1px solid $gray;
            @media screen and (max-width:768px){    
                overflow: auto;
                
            }
            .container{
                .row{
                    .col{
                        flex-direction: row;
                        @media only screen and (max-width:768px){
                            
                            flex-direction: column;
                        }

                        .left{
                            display: flex;
                            flex-direction: row;
                            width: 50%;
                            justify-content: flex-start;
                            padding: 5px;
                            @media only screen and (max-width:768px){
                                justify-content: center;
                                width: 100%;
                                
                            }
                            .mail{
                                font-weight: 700;
                                width:max-content;
                                margin-right: 20px;
                                @media only screen and (max-width:768px){   
                                    font-size: 14px;
                                    
                                }
                            }
                            .addr{
                                font-weight: 700;
                                width: max-content;
                                margin-right: 20px;
                                @media only screen and (max-width:768px){   
                                    font-size: 14px;
                                }
                            }
                        }
                        .right{
                            display: flex;
                            flex-direction: row;
                            width: 40%;
                            justify-content: flex-end;
                            padding: 5px;
                            @media only screen and (max-width:768px){
                                justify-content: center;
                                width: 100%;
                            }
                            .social{
                                a{
                                    margin-right: 10px;
                                    &:hover{
                                        color:$gray;
                                    }
                                }
        
                            }
                        }
                    }
                }
            }
            
        }
        .header-bottom{
            font-size: 18px;
            background-color: transparent;
            .navbar{
                    justify-content: space-between;
                    padding: 0;
                &.navbar-expand-lg{
                    
                        .navbar-brand{
                            color: $white;
                            font-size: 28px;
                        } .navbar-toggler{
                            color: $white;
                        }
                        .navbar-toggler-icon{
                            background-image: url("../images/toggle-bg.svg");
                        }

                        .nav-item{
                            .nav-link{
                                color: $white;
                                &:hover{
                                    color: $red;
                                }
                                .caret{
                                    height: 0;
                                    &::after{
                                        margin-left: 5px;
                                        margin-right: 5px;
                                        color: $white;
                                       
                                        content: "\f107";
                                        font-family: "Font Awesome 5 Free";
                                        font-weight: 900;
                                        display: inline-block;
                                    }
                                    
                                }
                            }
    
                            .subnav-container{
                                width:100%;
                                position: absolute;
                                border-radius: 8px;
                                left:0;
                                background-color: #000;
                                padding: 10px;
                                position: absolute;
                                z-index: 10;
                                display: none;
                                flex-direction: row;
                                justify-content: space-around;
                                box-shadow: 0px 11px 19px -7px rgb(250 250 250);
                                @media only screen and (max-width:768px){
                                    position: relative;
                                }
                                ul{
                                    list-style-type: none;
                                    margin: 20px;
                                    padding: 0;
                                    li{
                                        a{
                                            color:$white;
                                            &:hover{
                                                color: $red;
                                            }
                                        }
                                    }
                                }
                            }
                            &.dropdown{
                                position: unset;
                                &:hover{
                                    .subnav-container{
                                        display: flex;
                                    }
                                }
                            }
                        }
                        
                    
                }
            }
            
            
            
            
        }
    }
    .home-banner{
        background-color: $black;
        background-image: url(../images/dashboard-3510327_1920.jpg);
        background-blend-mode: multiply;
        background-size: cover;
        
        .container{
            .row{
                .col{
                    height: 600px;
                    position: relative;
                    h2{
                        font-size: 42px;
                        line-height: 1.5;
                    }
                    .banner-image{
                        position: absolute;
                        z-index: 99;
                        bottom: -80px;
                        width: 50%;
                        margin: 0 auto ;
                        
                    }
                    @media only screen and (max-width:1024px){
                        .banner-image{
                            bottom: -60px;
                            width: 80%;
                        } 
                    }
                    @media only screen and (max-width:425px){
                        .banner-image{
                            bottom: -40px;
                            width: 80%;
                        } 
                    }
                }
            }
        }
    }
    .home-features{
        padding-top: 200px;
        padding-bottom: 100px;
        background-color: $white2;
        h2{
            color:#000;
            margin-bottom: 50px;
        }

        .items{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .item{
                width: 23%;
                color:$black;
                background-color: $white;
                border-top: 3px solid $white;
                margin:10px;
                padding: 20px 15px;
                display: flex;
                flex-direction: column;
                @media only screen and (max-width:1024px){
                    width: 46%;
                }
                @media only screen and (max-width:768px){
                    width: 100%;
                }
                &:hover{
                    border-top: 3px solid $red;
                    box-shadow: 20px 10px 30px -10px #aaa;
                }
                a{
                    color:$red;
                    font-weight: 700;
                    &:hover{
                        color:$black;
                    }
                }
                .fa-solid{
                    font-size: 45px;
                    color: $red;
                    margin-bottom: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    display: inline-block;
                }
                h3{
                    font-size: 22px;
                    letter-spacing: normal;
                    margin-bottom: 20px;
                }
            }
        }
    }
    .home-client-testimonials{
        background-color: $white;
        padding: 50px 0;
        .section-title{
            padding: 20px 0;
            color:$black;
            text-align: center;
        }
        .owl-carousel .owl-stage-outer{
            overflow-y: visible !important;
            overflow-x: hidden !important;
        }
        .owl-carousel .owl-stage {
            height: 435px !important;
        }
        .slider{
            width: 100%;
            margin-bottom: 40px;
            
            .item{ 
                position: relative;
                border: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .bg-slide{
                    z-index: -9;
                }
                .info{
                    position: absolute;
                    z-index: 9999999999;
                    top: 40px;
                    padding: 20px;
                    margin-left: auto;
                    margin-right: auto;
                    background-color: $white;
                    border: 1px solid #a9a9a9;
                    box-shadow: 0px 14px 19px -7px rgb(0 0 0);
                    width: 80%;
                
                    .testimonial{
                        color:$black;
                    }
                    .author{
                        display: flex;
                        flex-direction: row;
                        margin: 20px 0;
                        .author-image{
                            width: 80px;
                            height: 80px;
                            border-radius: 50px;
                            background-color: #9a9a9a;
                            overflow: hidden;
                            img{
                                max-width: 100%;
                            }
                        }
                        .author-info{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            padding-left: 20px;
                            .name{
                                font-weight: 700;
                                color: $black;
                                text-transform: capitalize;
                            }
                            .desig{
                                color:$red;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    .home-video{
        .container-fluid{
            .row{
                .col-lg-12{
                    position: relative;
                    a.video-link{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            max-width: 100%;
                        }
                        .play-btn{
                            width:100px;
                            height: 100px;
                            position: absolute;
                            margin-left: auto;
                            margin-right: auto;
                            i{
                                font-size: 60px;
                            }
                        }
                    }
                    
                }
            }
        }
        
    }

    // Cars Page
    .cars-banner{
        padding: 100px 0;
        background-image: url(../images/speedometer-1249610_1920.jpg);
        background-size: cover;
        background-blend-mode: multiply;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
    }
    .cars-list{
        background-color: $white2;
    }
    .cars-list-container{
        padding: 50px 0;
            .car-item{
                padding: 0 0 20px 0;
                margin-bottom: 25px;
                background-color: $white2;
                box-shadow: 0px 14px 19px -7px rgb(150 150 150);
               
                @media only screen and (max-width:1024px){
                   
                }
                @media only screen and (max-width:768px){
                    
                }
                h3{
                    padding: 10px;
                    font-size: 18px;
                    color:#000000;
                    letter-spacing: normal;
                }
                img{
                    width: 100%;
                    max-width: 100%;
                }
                .car-content-cols{
                    display: flex;
                    flex-direction: row;
                    background-color: #eee;

                    .car-content{
                        color:$black;
                        padding: 10px;
    
                        .car-type, .car-comfort, .car-price{
                            font-size: 14px;
                            line-height:22px;
                            margin-bottom: 8px;;
                        }
                    }
                    .car-content-actions{
                        width:50%;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        padding: 10px;
                        .rating{
                            color:#000000;
                            font-size: 14px;
                            margin-bottom: 10px;
                            a{
                                color: #000000;
                                text-decoration: none;
                                &:hover{
                                    color: $red;
                                }
                            }
                        }
                        button{
                            width:100%;
                        }
                    }
                }
                
            }
        
    }

    .booking-form{
        padding: 50px 0;
        background-color: $white2;

        h2{
            font-size: 28px;
            margin-bottom: 20px;
            color:$black;
        }
        textarea{
            height: 200px;
        }
        button{
            width: max-content;
            margin: 0 auto;
            padding: 10px 20px;
        }
    }

    .contact-form{
        padding: 50px 0;
        background-color: $black;
        h2{
            font-size: 28px;
            margin-bottom: 20px;
            color:$white;
        }
        textarea{
            height: 200px;
        }
        button{
            width: max-content;
            margin: 0 auto;
            padding: 10px 20px;
        }
        .contact-info{
            @media  screen and (max-width:768px){   
                margin-top: 30px;
            }
            .info-item{
                strong{
                    width:100%;
                    display: block;
                    padding: 10px 0;
                    border-top: 1px solid $white2;
                }
            }
        }
        
    }
    .blogs{
        padding: 50px 0;
        h2{
            font-size: 28px;
            margin-bottom: 20px;
            color:$white;
        }

        .blog-item{
            border-radius: 8px;
            margin-bottom: 25px;
            background-color: $white2;
            box-shadow: 0px 14px 19px -7px rgb(150 150 150);
            display: flex;
            flex-direction: row;
            overflow: hidden;
            @media screen and (max-width:768px){    
                flex-direction: column;
            }
            .blog-item-image{
                display: inline-block;
                width: 40%;
                margin: 0;
                @media screen and (max-width:768px){
                    width: 100%;
                }
                img{
                    width: 100%;
                    max-width: 100%;
                    margin: 0;
                }
            }
            .blog-item-content{
                width: 60%;
                padding:20px;
                @media screen and (max-width:768px){
                    width:100%;
                }
                display: inline-block;
                    h3{
                        font-size: 18px;
                        margin-bottom: 10px;
                        color:$black;
                        font-size: 20px;
                        letter-spacing: normal;
                    }
                    
                    p{
                        font-size: 14px;
                        margin-bottom: 10px;
                        color:$black;
                    }
                    a{
                        color:$black;
                        text-decoration: none;
                        &:hover{
                            color:$red;
                        }
                    }
                
            }
            
        }
    }

    footer{
        border-top:1px solid $red;
        padding: 50px 0 20px;
        .footer-top{
            h2{
                font-size: 24px;
                margin-bottom: 20px;
            }
            .service-links{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                a{
                    margin: 0 0 20px;
                    width: 50%;
                }
            }
        }
        .footer-bottom{
                padding: 20px 0 0;

                .footer-logo{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                }
                .footer-pt{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                }
            @media only screen and (max-width:768px){
                text-align: center;
                .footer-logo{
                    
                    justify-content: center;
                    margin-bottom: 10px;
                    }
                    .footer-pt{
                    
                    justify-content: center;
                    margin-bottom: 10px;
                    }
            }   

        }
        
    }
}