$primary-background-color: #fff;
$secondary-background-color: #3498db;
$primary-text-color: #333;
$secondary-text-color: #e74c3c;
$primary-link-color: #3498db;
$secondary-link-color: #e74c3c;
$primary-button-color: #3498db;
$secondary-button-color: #e74c3c;
$button-text-color: #fff;
$button-hover-color: #2b7cb3;
$border-color: #ccc;