@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap';

$primary-font-family: 'Roboto', sans-serif;
$secondary-font-family: 'Quicksand', sans-serif;