@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #333;
  background-image: url(../images/paper-1914901_1920.jpg);
  line-height: 1.6;
  padding: 20px;
  font-size: 16px;
}
@media (min-width: 480px) {
  body {
    font-size: calc(16px + (20px - 16px) * (100vw - 400px) / 200);
  }
}
@media (min-width: 768px) {
  body {
    font-size: calc(16px + (20px - 16px) * (100vw - 600px) / 600);
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
body a {
  color: #3498db;
  text-decoration: none;
}
body a:hover {
  color: #e74c3c;
}
body button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
body button:hover {
  background-color: #2b7cb3;
}
body header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 2px solid #ccc;
}
body header .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 768px) {
  body header .navbar {
    flex-direction: column;
  }
}
body header .navbar .logo img {
  height: 32px;
  filter: hue-rotate(90deg) brightness(1.5) contrast(1.2);
}
body header .navbar ul {
  list-style: none;
  display: flex;
}
body header .navbar ul li {
  margin-right: 20px;
}
body header .navbar ul li a {
  font-weight: bold;
  font-size: 14px;
}
@media (min-width: 480px) {
  body header .navbar ul li a {
    font-size: calc(14px + (18px - 14px) * (100vw - 400px) / 200);
  }
}
@media (min-width: 768px) {
  body header .navbar ul li a {
    font-size: calc(14px + (18px - 14px) * (100vw - 600px) / 600);
  }
}
@media (min-width: 1200px) {
  body header .navbar ul li a {
    font-size: 18px;
  }
}
body header .navbar ul li.active a {
  color: #e74c3c;
}
body footer {
  text-align: center;
  padding: 20px 0;
  border-top: 2px solid #ccc;
  margin-top: 20px;
  font-size: 14px;
  color: #e74c3c;
}