$black: #000;
$white: #fff;
$green1: #77C729;
$green2: #08aa08;

@mixin btn{
        background-color: $green1;
        color:$white;
        border: none;
        padding: 10px;
        font-weight: 400;
        transition-duration: 1s;
        &:hover{
            background-color: $green2;
        }
}
@mixin anchor{
    color:$green1;
    text-decoration: none;
    &:hover{
        color: $green2;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
body{
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    letter-spacing: 1.9%;
    color:$black;

    a{
        color: $black;
        text-decoration: none;
        &:hover{
            color:$green1;
        }
    }
    .bg-black{
        background-color: $black;
        color:$white;
    }
    .bg-white{
        background-color: $white;
        color:$black;
    }
    .bg-gray{
        background-color: #ddd;
    }
    .bg-gray-2{
        background-color: #eee;
    }

    .btn-theme{
        @include btn;
        padding-left: 20px;
        padding-right: 20px;
    }

    header{

        &.sticky{
            position: fixed;
            width: 100%;
            z-index: 99999999;
        }
        .navbar-nav{
                .nav-link{
                    text-transform:uppercase;
                    font-weight: 600;
                    font-size: 14px;
                }
            
        }
    }
    .banner{
        background-image: url('../images/houzez-header-1.jpg');
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-color: #888;
        background-blend-mode: multiply;
        height: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .banner-title{
                font-size: 50px;
                color:$white;
                margin-bottom: 20px;
            }
            .banner-desc{
                color:$white;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            .search-property{
                
                padding: 5px;
                .tab-buttons{
                    margin: 0 0 5px 0;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    justify-content: center;
                    align-items: center;
                    
                    li{
                        a{
                            @include anchor;
                            padding: 10px 20px;
                            background-color:$green1 ;
                            margin-right:2px;
                            border-radius: 3px;
                            z-index: 99;
                            color:$white;
                            &:hover{
                                color:$black;
                            }
                        }
                        &.active{
                            a{
                                background-color: $white;
                                color:$black;
                            }
                        }
                    }
                }
                .form-container{
                    background-color: $white;
                    border-radius: 3px;
                    width:800px;
                    padding: 10px;
                    z-index: 999;
                    select{
                        width:18%;
                        padding: 10px;
                        border: 1px solid #ddd;
                        background-color: transparent;
                    }
                    input{
                        &[type="text"]{
                            width:60%;
                            border: 1px solid #ddd;
                            padding: 10px;
                        }
                    }
                    button{
                        @include btn;
                        width: 20%;
                    }
                }
            }
        }

        @media only screen and (max-width:1024px){
            .content{
                width: 98%;
                .banner-title{
                    font-size: 30px;
                    margin-left: 10px;
                    margin-right: 10px;
                }
                .search-property{
                    width: 100%;
                    .form-container{
                        width: 100%;
                        select{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                        input{
                            &[type="text"]{
                                width: 100%;
                                margin-bottom: 20px;
                            }
                            
                        }
                        button{
                            width: 100%;
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .section-one{
        .section-title{
            margin-top:50px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 40px;
        }
        .section-desc{
            text-align: center;
            line-height: 1.5;
            width: 80%;
            margin: 0 auto;
        }

        .property{
            background-color: $white;
            box-shadow: 10px 6px 16px 0px rgb(0 0 0 / 50%);
            .image-container{
                
                img{
                    max-width: 100%;
                }
            }
            .info-container{
                margin-top:20px;
                .property-title{
                    width: 100%;
                    a{
                        color:$black;
                        font-size: 24px;
                        text-decoration: none;
                        text-align: center;
                        display: block;
                        &:hover{
                            color:$green1;
                        }
                    }
                }
                .property-price{
                    font-size: 20px;
                    text-align: center;
                    display: block;
                    margin: 10px auto;
                }
                .property-type{
                    text-align: center;
                    display: block;
                    text-transform: uppercase;
                    font-size: 12px;
                }
                
            }
            .property-stat{
            margin-bottom:20px;
            padding-bottom: 20px;
                ul{
                    width: 80%;
                    margin-top:20px;
                    margin-left: auto;
                    margin-right: auto;
                    padding: 0;
                    list-style-type: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }

    .section-two{

        margin: 50px 0;
        .section-title{
            margin-top:50px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 40px;
        }
        .section-desc{
            text-align: center;
            line-height: 1.5;
            width: 80%;
            margin: 0 auto;
        }

        .grid{
            margin-top:50px;
            .grid-item{
                position: relative;
                width: 48%;
                margin: 10px;
                
                .grid-item--width2{
                    width: 100% !important;
                }
                img{
                    max-width: 100%;
                }
                .info{
                    position: absolute;
                    padding: 20px;
                    top:0;
                    left:0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgb(240,240,240) 1%,transparent 50%, transparent 100%);
                    background-blend-mode: multiply;
                    a{
                        text-decoration: none;
                        color:$black;
                        .meta{
                            font-size: 16px;
                        }
                        .title{
                            font-size: 22px;
                            color:$green1;
                        }
                    }
                    
                }
                &:hover{
                    .info{
                        background: none;
                        background-blend-mode: normal;
                    }
                }   
            }
        }

        @media only screen and (max-width:768px){
            .grid{
                .grid-item{
                    width: 47%;
                    margin: 0;
                }
            }
        }
    }

    .section-three{
        padding: 50px 0;
        background-color: #eee;

        .section-title{
            margin-bottom: 30px;
            font-size: 40px;
        }
        .section-desc{
            margin: 20px 0 80px;
            
        }

        .agent{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            transition-duration:  1s;
            .agent-image{
                width: 200px;
                height: 200px;
                border-radius: 300px;
                margin-bottom: 30px;
                overflow: hidden;
                img{
                    max-width: 100%;
                }
            }
            .agent-info{
                .name{
                    color:$green1;
                    font-size: 20px;
                    text-align: center;
                    margin-bottom: 10px;
                    font-weight: 600;
                }
                .designation{
                    color: $black;
                    font-size: 18px;
                    text-align: center;
                    margin-bottom: 30px;
                }
                .intro{
                    margin: 20px 0;
                }
                .button{
                    text-align: center;
                }
            }

            &:hover{
                
                box-shadow: 0px 0px 20px 0px #888888;
                background-color: $white;
            }
        }
    }

    .section-four{
        position: relative;
        .slick{
            width: 100%;
            background-color: #999;
            background-blend-mode: multiply;
            img{
                max-width: 100%;
                width: 100%;
                filter: grayscale(80%);
            }
        }

        .info-cta{
            position: absolute;
            top:calc(28%);
            left:200px;
            width: 400px;
            height: 400px;
            z-index: 999999999;
            background-color: $green1;
            box-shadow: 0px 0px 20px 0px #eee;
            padding: 40px;
            .title{
                font-size: 40px;
                color:$white;
                line-height: 1.2;
                margin-bottom: 20px;
            }
            .desc{
                color: $white;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
            .buttons{
                a{
                    background-color: transparent;
                    border: 1px solid $white;
                    &:hover{
                        background-color: $white;
                        color:$green2;
                    }
                }
            }
        }

        @media only screen and (max-width:768px){
            .info-cta{
                position: relative;
                top:0;
                left: 0;
                width: 100%;
                height: auto;
                padding: 20px;
                box-shadow:none;
                .title{
                    margin-top: 5px;
                    font-size: 24px;
                    line-height: 1.1;
                }
            }
        }
    }


    .section-five{

        .section-title{
            font-size: 24px;
        }
        .newsletter-form{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            input{
                &[type="email"]{
                    width:50%;
                    padding: 8px;
                    display: inline-block;
                    margin-right: 10px;
                    margin-left: 10px;
                }
                
            }
            button{
                width: 20%;
                display: inline-block;
            }
        }

        @media only screen and (max-width:768px){
            .section-title{
                font-size: 22px;
                text-align: center;
                margin-bottom: 20px;
            }
            .newsletter-form{
                flex-direction: column;
                input{
                    &[type="email"]{
                        width:100%;
                        padding: 8px;
                        display: inline-block;
                        margin-right: 10px;
                        margin-left: 10px;
                        margin-bottom: 20px;
                    }    
                }
                button{
                    width: 100%;
                    display: inline-block;
                }
            }
        }
    }


    .inner-banner{
        background-position: center center;
        background-attachment: fixed;
        background-image:url('../images/dining-area-8403094_1920.jpg'); 
        height: 300px;
    }

    
        .sidebar{
            .box{
                background-color: $white;
                padding: 20px;
                margin-bottom: 30px;
                .box-title{
                    font-size: 22px;
                    color:$green1;
                    margin-bottom: 20px;
                }
                ul{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li{
                        display: flex;
                        flex-direction: row;
                        
                        margin-bottom: 10px;
                        &:before{
                            content:"\f054";
                            font-family:"fontawesome";
                            font-size: 14px;
                            color: $green2;
                            margin-right: 5px;
        
                        }
                        a{
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            span{
                                flex: 1;
                                text-align: right;
                            }
                        }
                        
                    }
                }

                .noUi-horizontal{
                    height: 8px;
                }
                .noUi-connect{
                    background: $green1;
                    height: 8px;
                }
                .noUi-handle-lower, .noUi-handle-upper{
                    width: 15px;
                    height: 15px;
                    background-color: $black;
                    border: none;
                    border-radius: 20px;
                }
                .price-range-value{
                    display: inline-block;
                    margin-top: 10px;
                }
            }
        }
    

    footer{
        background-color: $black;
        padding: 40px 0;
        color:$white;

        .footer-logo{
            a{
                display: block;
                color:$white;
                font-size:24px ;
                text-decoration: none;
                font-weight: 400;
                margin-bottom: 20px;
            }
            .footer-logo-info{
                font-size: 18px;
            }

            
        }
        .footer-menu-title{
            color:$white;
            font-size:24px ;
            text-decoration: none;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .menu{
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                margin-bottom: 10px;
                &:before{
                    content:"\f054";
                    font-family:"fontawesome";
                    font-size: 14px;
                    color: $white;
                    margin-right: 15px;

                }
                a{
                    color:$white;
                    text-decoration: none;
                    &:hover{
                        color:$green1;
                    }
                }
            }
        }

        .copy{
            .copy-txt{
                font-size: 14px;
            } 
            a{
                color:$white;
                text-decoration: none;
            }

        }
    }
}