@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
body {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1.9%;
  color: #000;
}
body .bg-black {
  background-color: #000;
  color: #fff;
}
body .bg-white {
  background-color: #fff;
  color: #000;
}
body .bg-gray {
  background-color: #ddd;
}
body .btn-theme {
  background-color: #77C729;
  color: #fff;
  border: none;
  padding: 10px;
  font-weight: 400;
  transition-duration: 1s;
  padding-left: 20px;
  padding-right: 20px;
}
body .btn-theme:hover {
  background-color: #08aa08;
}
body header .navbar-nav .nav-link {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
body .banner {
  background-image: url("../images/houzez-header-1.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-color: #888;
  background-blend-mode: multiply;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .banner .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .banner .content .banner-title {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
}
body .banner .content .banner-desc {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
body .banner .content .search-property {
  padding: 5px;
}
body .banner .content .search-property .tab-buttons {
  margin: 0 0 5px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}
body .banner .content .search-property .tab-buttons li a {
  color: #77C729;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #77C729;
  margin-right: 2px;
  border-radius: 3px;
  z-index: 99;
  color: #fff;
}
body .banner .content .search-property .tab-buttons li a:hover {
  color: #08aa08;
}
body .banner .content .search-property .tab-buttons li a:hover {
  color: #000;
}
body .banner .content .search-property .tab-buttons li.active a {
  background-color: #fff;
  color: #000;
}
body .banner .content .search-property .form-container {
  background-color: #fff;
  border-radius: 3px;
  width: 800px;
  padding: 10px;
  z-index: 999;
}
body .banner .content .search-property .form-container select {
  width: 18%;
  padding: 10px;
  border: 1px solid #ddd;
  background-color: transparent;
}
body .banner .content .search-property .form-container input[type=text] {
  width: 60%;
  border: 1px solid #ddd;
  padding: 10px;
}
body .banner .content .search-property .form-container button {
  background-color: #77C729;
  color: #fff;
  border: none;
  padding: 10px;
  font-weight: 400;
  transition-duration: 1s;
  width: 20%;
}
body .banner .content .search-property .form-container button:hover {
  background-color: #08aa08;
}
@media only screen and (max-width: 1024px) {
  body .banner .content {
    width: 98%;
  }
  body .banner .content .banner-title {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
  }
  body .banner .content .search-property {
    width: 100%;
  }
  body .banner .content .search-property .form-container {
    width: 100%;
  }
  body .banner .content .search-property .form-container select {
    width: 100%;
    margin-bottom: 20px;
  }
  body .banner .content .search-property .form-container input[type=text] {
    width: 100%;
    margin-bottom: 20px;
  }
  body .banner .content .search-property .form-container button {
    width: 100%;
    margin-bottom: 20px;
  }
}
body .section-one .section-title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}
body .section-one .section-desc {
  text-align: center;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto;
}
body .section-one .property {
  background-color: #fff;
  box-shadow: 10px 6px 16px 0px rgba(0, 0, 0, 0.5);
}
body .section-one .property .image-container img {
  max-width: 100%;
}
body .section-one .property .info-container {
  margin-top: 20px;
}
body .section-one .property .info-container .property-title {
  width: 100%;
}
body .section-one .property .info-container .property-title a {
  color: #000;
  font-size: 24px;
  text-decoration: none;
  text-align: center;
  display: block;
}
body .section-one .property .info-container .property-title a:hover {
  color: #77C729;
}
body .section-one .property .info-container .property-price {
  font-size: 20px;
  text-align: center;
  display: block;
  margin: 10px auto;
}
body .section-one .property .info-container .property-type {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
}
body .section-one .property .property-stat {
  margin-bottom: 20px;
  padding-bottom: 20px;
}
body .section-one .property .property-stat ul {
  width: 80%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body .section-two {
  margin: 50px 0;
}
body .section-two .section-title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}
body .section-two .section-desc {
  text-align: center;
  line-height: 1.5;
  width: 80%;
  margin: 0 auto;
}
body .section-two .grid {
  margin-top: 50px;
}
body .section-two .grid .grid-item {
  position: relative;
  width: 48%;
  margin: 10px;
}
body .section-two .grid .grid-item .grid-item--width2 {
  width: 100% !important;
}
body .section-two .grid .grid-item img {
  max-width: 100%;
}
body .section-two .grid .grid-item .info {
  position: absolute;
  padding: 20px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgb(240, 240, 240) 1%, transparent 50%, transparent 100%);
  background-blend-mode: multiply;
}
body .section-two .grid .grid-item .info a {
  text-decoration: none;
  color: #000;
}
body .section-two .grid .grid-item .info a .meta {
  font-size: 16px;
}
body .section-two .grid .grid-item .info a .title {
  font-size: 22px;
  color: #77C729;
}
body .section-two .grid .grid-item:hover .info {
  background: none;
  background-blend-mode: normal;
}
@media only screen and (max-width: 768px) {
  body .section-two .grid .grid-item {
    width: 47%;
    margin: 0;
  }
}
body .section-three {
  padding: 50px 0;
  background-color: #eee;
}
body .section-three .section-title {
  margin-bottom: 30px;
  font-size: 40px;
}
body .section-three .section-desc {
  margin: 20px 0 80px;
}
body .section-three .agent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  transition-duration: 1s;
}
body .section-three .agent .agent-image {
  width: 200px;
  height: 200px;
  border-radius: 300px;
  margin-bottom: 30px;
  overflow: hidden;
}
body .section-three .agent .agent-image img {
  max-width: 100%;
}
body .section-three .agent .agent-info .name {
  color: #77C729;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 600;
}
body .section-three .agent .agent-info .designation {
  color: #000;
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}
body .section-three .agent .agent-info .intro {
  margin: 20px 0;
}
body .section-three .agent .agent-info .button {
  text-align: center;
}
body .section-three .agent:hover {
  box-shadow: 0px 0px 20px 0px #888888;
  background-color: #fff;
}
body .section-four {
  position: relative;
}
body .section-four .slick {
  width: 100%;
  background-color: #999;
  background-blend-mode: multiply;
}
body .section-four .slick img {
  max-width: 100%;
  width: 100%;
  filter: grayscale(80%);
}
body .section-four .info-cta {
  position: absolute;
  top: 28%;
  left: 200px;
  width: 400px;
  height: 400px;
  z-index: 999999999;
  background-color: #77C729;
  box-shadow: 0px 0px 20px 0px #eee;
  padding: 40px;
}
body .section-four .info-cta .title {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 20px;
}
body .section-four .info-cta .desc {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}
body .section-four .info-cta .buttons a {
  background-color: transparent;
  border: 1px solid #fff;
}
body .section-four .info-cta .buttons a:hover {
  background-color: #fff;
  color: #08aa08;
}
@media only screen and (max-width: 768px) {
  body .section-four .info-cta {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding: 20px;
    box-shadow: none;
  }
  body .section-four .info-cta .title {
    margin-top: 5px;
    font-size: 24px;
    line-height: 1.1;
  }
}
body .section-five .section-title {
  font-size: 24px;
}
body .section-five .newsletter-form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
body .section-five .newsletter-form input[type=email] {
  width: 50%;
  padding: 8px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
body .section-five .newsletter-form button {
  width: 20%;
  display: inline-block;
}
@media only screen and (max-width: 768px) {
  body .section-five .section-title {
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
  }
  body .section-five .newsletter-form {
    flex-direction: column;
  }
  body .section-five .newsletter-form input[type=email] {
    width: 100%;
    padding: 8px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  body .section-five .newsletter-form button {
    width: 100%;
    display: inline-block;
  }
}
body footer {
  background-color: #000;
  padding: 40px 0;
  color: #fff;
}
body footer .footer-logo a {
  display: block;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  font-weight: 400;
  margin-bottom: 20px;
}
body footer .footer-logo .footer-logo-info {
  font-size: 18px;
}
body footer .footer-menu-title {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  font-weight: 400;
  margin-bottom: 20px;
}
body footer .menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body footer .menu li {
  margin-bottom: 10px;
}
body footer .menu li:before {
  content: "\f054";
  font-family: "fontawesome";
  font-size: 14px;
  color: #fff;
  margin-right: 15px;
}
body footer .menu li a {
  color: #fff;
  text-decoration: none;
}
body footer .menu li a:hover {
  color: #77C729;
}
body footer .copy .copy-txt {
  font-size: 14px;
}
body footer .copy a {
  color: #fff;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
